<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheResult="false"
         bootstrap="phpunit.php">

  <testsuites>
    <testsuite name="Spoom Sql Test Suite">
      <file>ConnectionTest.php</file>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>../src/package</directory>
    </whitelist>
  </filter>
</phpunit>
